{
  "extends": ["prettier", "react-app"],
  "plugins": ["prettier"],
  "parser": "@babel/eslint-parser",
  "root": true,
  "rules": {
    "prettier/prettier": "error",
    "react/prop-types": "error"
  }
}
